.panelCard {
    background: #2cbbc3;
    color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.panelCard:hover {
    transform: scale(1.05);
    
}

.panelCard-icon {
    margin-bottom: 15px;
}

.panelCard h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #484343;
}

.panelCard p {
    font-size: 1rem;
    text-align: center;
}
